<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('vendor');

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        // Add more rules as needed
        'array_indentation' => true,
        'array_syntax' => array('syntax' => 'short'),
    ])
    ->setFinder($finder);